root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
# Final newlines are necessary for a lot of unix tools to work as expected. See
# https://stackoverflow.com/questions/729692/why-should-text-files-end-with-a-newline for more info.
insert_final_newline = true
max_line_length=120

[*.{fs,fsx}]
fsharp_multiline_bracket_style = stroustrup
fsharp_align_function_signature_to_indentation = true
fsharp_keep_max_number_of_blank_lines = 2
fsharp_max_value_binding_width=80
